<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.barcodefork" version="1.2.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>OSBarcodeFork</name>
  <description>Fork of Cordova Bridge for the OutSystems Officially Supported Barcode Plugin.</description>
  <author>OutSystems Inc (fork by Pedro Bilro)</author>
  <js-module name="OSBarcodeFork" src="www/OSBarcodeFork.js">
    <clobbers target="cordova.plugins.OSBarcodeFork"/>
  </js-module>

  <js-module name="OSBarcodeScannerFork" src="www/OSBarcodeScannerFork.js">
    <clobbers target="cordova.plugins.OSBarcodeScannerFork"/>
  </js-module>

  <js-module name="OSBarcodeConstantsFork" src="www/OSBarcodeConstantsFork.js">
    <clobbers target="OSBarcodeConstantsFork"/>
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSBarcodeFork">
        <param name="android-package" value="com.outsystems.plugins.barcode.OSBarcodeFork"/>
      </feature>
      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/com/outsystems/plugins/barcode/OSBarcodeFork.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/barcodefork"/>
    <framework src="src/android/com/outsystems/plugins/barcode/build.gradle" custom="true" type="gradleReference" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="OSBarcodeFork">
        <param name="ios-package" value="OSBarcodeFork"/>
      </feature>
      <preference name="SwiftVersion" value="5" />
    </config-file>

    <preference name="CAMERA_USAGE_DESCRIPTION" default=" " />
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
      <string>$CAMERA_USAGE_DESCRIPTION</string>
    </config-file>

    <source-file src="src/ios/OSBarcodeFork.swift" />
    <source-file src="src/ios/OSBarcodeErrorFork.swift" />
    <source-file src="src/ios/OSBarcodeScanArgumentsModelFork.swift" />

    <!-- Commented because it seems to be causing clashes with the other plugin where this same extension is defined. -->
    <!--<source-file src="src/ios/OSBARCArgumentMappableFork.swift" target-dir="extensions" />-->

    <podspec>
      <config>
        <source url="https://cdn.cocoapods.org/"/>
      </config>
      <pods use-frameworks="true">
        <pod name="OSBarcodeLib" spec="1.0.0" />
      </pods>
    </podspec>
  </platform>
</plugin>
