name: Release Cordova Plugin (GitHub)

on:
  workflow_dispatch:

permissions:
    contents: write

jobs:
    release:
      runs-on: 'ubuntu-latest'
      timeout-minutes: 20
      steps:
        - uses: actions/checkout@v6
          with:
            fetch-depth: 0
        - name: Install Node.js
          uses: actions/setup-node@v6
          with:
            node-version: 25
        - name: Install dependencies
          run: npm ci
        - name: Release
          env:
            GITHUB_TOKEN: ${{ github.token }}
          run: npx semantic-release